.rows {
    background-color: rgba(110, 149, 207, 0.411);
    display: flex;
    justify-content:space-between;
    margin: 5%;
}

h1{
    background-color: rgba(165, 42, 42, 0.192);
    text-align: center;
    margin: 2%;
}